.main {
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  margin: 10px 0 0 20px;
  padding-bottom: 30px;
}

.header_left {
  width: 20%;
}

.header_right {
  margin: auto 0 0 0;
}

.header_item {
  display: flex;
  justify-content: space-between;
}

.link {
  margin: 0 20px 0 0;

}

a {
  text-decoration: none;
  color: gray;
  font-weight: bold;
  font-size: 14px;
}

.link:last-child {
  margin: 0 30px 0 0;
}

.top {
  position: relative;
}

.top_left {
  position: absolute;
  top: 15%;
  left: 20%;
}

.top_title {
  font-size: 62px;
  font-family: "Bradley Hand ITC", sans-serif;
  color: rgb(165, 42, 128);
}

.top_emphasis {
  color: rgb(24, 164, 189);
}
.top_between {
  margin-top: 20px;
  margin-bottom: 70px;
}

.top_text {
  font-size: 22px;
  color: rgb(165, 42, 128);
  margin-bottom: 10px;
  font-weight: bold;
}

.top_text_emphasis {
  color: rgb(24, 164, 189);
}

.top_company {
  font-size: 14px;
  color: gray;
  font-weight: bold;
}

.company_between {
  font-size: 14px;
  color: gray;
  margin-top: 10px;
  font-weight: bold;
}

.top_img {
  margin: 0 0 80px auto;
  display: block;
  width: 60%;
}


.news_title_upper {
  margin-left: 25%;
  font-family: "Bradley Hand ITC", sans-serif;
  color: rgb(165, 42, 128);
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: bold;
}

.news_title_lower {
  margin-left: 25%;
  font-weight: bold;
  color: gray;
  margin-bottom: 20px;
  font-size: 24px;
}

.news_list {
  margin-left: 25%;
  color: gray;
  display: inline-block;
}

.list_item {
  padding-top: 20px;
  padding-right: 100px;
  margin-bottom: 20px;
  border-top: solid 1px gray
}

li {
  list-style: none;
}

.item_label {
  background-color: rgb(165, 42, 128);
  border-radius: 30px;
  color: #fff;
  padding: 0 10px;
  margin: 0 20px 0;
  font-size: 14px;
}

.news_list_bottomline {
  content: '';
  padding-top: 30px;
  margin-bottom: 60px;
  border-top: solid 1px gray;
  border-bottom: solid 1px gray;
}

/*-about*/

.about_title {
  padding-top: 50px;
  padding-bottom: 40px;
  background-color: rgb(240, 240, 240);
  text-align: center;
} 

.about_title_upper {
  font-family: "Bradley Hand ITC", sans-serif;
  color: rgb(165, 42, 128);
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: bold;
}

.about_title_lower {
  font-weight: bold;
  color: gray;
  font-size: 24px;
}

.about_item {
  background-color: rgb(240, 240, 240);
  display: flex;
  width: 100%;
}

.about_text {
  display: inline;
  color: gray;
  width: 50%;
  margin-left: 20%;
  font-size: 16px;
  line-height: 1.5;
}

.about_text_upper {
  margin-bottom: 30px;
}

.about_text_lower {
  margin-bottom: 30px;

}

.about_img {
  display: inline;
  width: 50%;
  padding-bottom: 50px;
}

img{
  width: 70%;
}

/*--service--*/

.service {
  padding-top: 50px;
  margin-bottom: 50px;
}

.service_title_upper {
  margin-left: 20%;
  font-family: "Bradley Hand ITC", sans-serif;
  color: rgb(165, 42, 128);
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: bold;
}

.service_title_lower {
  margin-left: 20%;
  font-weight: bold;
  color: gray;
  margin-bottom: 30px;
  font-size: 24px;
}

.service_content {
  display: flex;
  margin: 0 auto;
}

.content_left {
  width: 30%;
  height: auto;
  margin-left: 20%;
  padding-bottom: 80px;
  background-color: rgb(165, 42, 128);
}

.service__first_left {
  display: block;
  margin: 20px auto;
  width: 25%;
}

.service_text_left {
  padding: 0 10%;
  color: #fff;
}

.service_text_upper {
  text-align: center;
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 20px;
}

.service_text_lower {
  font-size: 10px;
  line-height: 2;
}

.content_right {
  display: block;
  width: 50%;
}

.service__first_right {
  display: block;
  margin: 10px auto;
  width: 30%;
}

.content_upper_right {
  display: flex;
  width: 50%;
  height: 50%;
  background-color: rgb(179, 91, 139);
}

.content_lower_right {
  display: flex;
  width: 50%;
  height: 50%;
  background-color: rgb(178, 138, 158);
}

.service_text_right {
  margin: auto;
}

.service_text_upper_right {
  font-weight: bold;
  font-size: 14px;
  color: #fff;
  margin-bottom: 10px;
}

.service_text_lower_right {
  font-size: 12px;
  line-height: 2;
  color: #fff;
}

/*--blog--*/

.blog {
  padding: 50px 0;
}

.blog_title_upper {
  margin-left: 20%;
  font-family: "Bradley Hand ITC", sans-serif;
  color: rgb(165, 42, 128);
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: bold;
}

.blog_title_lower {
  margin-left: 20%;
  font-weight: bold;
  color: gray;
  margin-bottom: 20px;
  font-size: 24px;
}

.blog_card {
  margin-left: 20%;
  margin-right: 20%;
  display: flex;
  justify-content: space-between;
  background-color: rgb(240, 240, 240);
}

.card_item {
  width: 30%;
  background-color: rgb(255, 255, 255);
  border-radius: 0 0 10px 10px;
}

.card_title {
  position: relative;
  top: 0%;
  left: 0%;
}

.blog_card_title{
  position: absolute;
  top: 0%;
  left: 0%;
  display: inline;
  background-color: rgb(165, 42, 128);
  color: #fff;
  padding: 10px 20px;
  border-radius: 10px 0 0 0;
}

.blog_card_img {
  width: 100%;
  border-radius: 10px 10px 0 0;
}

.blog_card_text {
  color: gray;
  padding-bottom: 30px;
  line-height: 2;
  font-weight: bold;
  font-size: 14px;
}

.tag {
  display: flex;
  justify-content: space-between;
  color: gray;
  font-size: 12px;
}

.card_content {
  padding: 20px 15px;
}

.blog {
  background-color: rgb(240, 240, 240);
}

.button_text {
  display: block;
  width: 10%;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  color: rgb(165, 42, 128);
  border: 2px solid rgb(165, 42, 128);
  border-radius: 30px;
  margin: 30px auto 0;
  background-color: #fff;
}

/*--profile--*/

.profile {
  padding-bottom: 50px;
}

.profile_title {
  padding-top: 60px;
}

.profile_title_upper {
  margin-left: 25%;
  font-family: "Bradley Hand ITC", sans-serif;
  color: rgb(165, 42, 128);
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: bold;
}

.profile_title_lower {
  margin-left: 25%;
  font-weight: bold;
  color: gray;
  margin-bottom: 30px;
  font-size: 24px;
}

.profile_table {
  width: 50%;
  margin-left: 25%;
  text-align: left;
}

.profile_th {
  padding: 20px 10px;
  background-color: rgb(240, 240, 240);
  border: 1px solid gray;
  color: gray;
  width: 30%;
}

.profile_td {
  padding-left: 10px;
  border: 1px solid gray;
  color: gray;
}

/*--info--*/

.info {
  display: flex;
  position: relative;
  margin-bottom: 70px;
}

.info_img {
  width: 50%;
}

.info_title_left {
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-weight: bold;
  font-size: 24px;
}

.info_title_right {
  position: absolute;
  top: 50%;
  left: 75%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-weight: bold;
  font-size: 24px;
}

/*--inquiry--*/

.inquiry {
  margin-bottom: 50px;
}

.inquiry_text {
  color: gray;
  text-align: center;
  font-weight: bold;
}

.inquiry_line {
  width: 1px;
  height: 30px;
  border-right: 2px solid rgb(165, 42, 128);
  margin: 20px auto;
}

.inquiry_button {
  position: relative;
  background: linear-gradient(90deg,rgb(251, 30, 139), rgb(165, 42, 128));
  width: 180px;
  display: block;
  padding: 20px;
  text-align: center;
  color: #fff;
  margin: 0 auto;
  border-radius: 50px;
  box-shadow: 0 5px 0 rgb(165, 42, 128);
}

.inquiry_button:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 30px;
  background:  url(../img/mailicon.svg) no-repeat;
  background-size: cover;
  width: 20px;
  height: 20px;
  transform: translateY(-50%);
}

/*--footer--*/

.footer {
  background-color: rgb(240, 240, 240);
  padding: 20px 0;
}

.copyright {
  display: block;
  text-align: center;
  color: gray;
  font-size: 12px;
}

.copyright_mark {
  font-size: 8px;
  margin: 0 10px;
  vertical-align: top; 
}